{% extends 'main/main.html' %}
{% load static %}
{% load my_filter %}
{% block content %}
    <script type="text/javascript" src="{% static 'js/description.js' %}"></script>
    <table class="table">
        <tbody>
        <tr>
            <th class="table_name" width="50%">
                Полное описание
            </th>
            <th class="table_name">
                Комментарии
            </th>
        </tr>
        <tr>
            <td height="400px">
                <table class="table">
                    <tbody>
                    <tr>
                        <th class="table_name">
                            Полное название:
                        </th>
                        <td>
                            <h1 class="font_style_for_hospital_page">{{ hospital.name }}</h1>
                        </td>
                    </tr>
                    <tr>
                        <th class="table_name">
                            Адресс:
                        </th>

                        <td>
                            <h1 class="font_style_for_hospital_page">{{ hospital.full_address }}</h1>
                        </td>
                    </tr>
                    <tr>
                        <th class="table_name">
                            Область местонахождения:
                        </th>
                        <td>
                            <h1 class="font_style_for_hospital_page">{{ hospital.location.name }}</h1>
                        </td>
                    </tr>
                    <tr>
                        <th class="table_name">
                            Телефоны:
                        </th>
                        <td>
                            {% for phone_number in hospital.number_set.all %}
                                {% if phone_number.number_phone|instance_str %}
                                    <h1 class="font_style_for_hospital_page"> {{ phone_number }}</h1>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form class="form" method="post" id="description-form">
                    {% csrf_token %}
                    {% if is_admin in 'true' %}
                        <div class="desc">
                                              <textarea id="description" cols="120" rows="8">{{ hospital.description }}
                                               </textarea>
                        </div>
                        <div class="edit">
                            <input type="submit" id='textarea' value="Edit">
                        </div>
                    {% else %}
                        <div class="desc">
                                                      <textarea id="description" cols="120" rows="8"
                                                                disabled="disabled">{{ hospital.description }}
                                                       </textarea>
                        </div>
                    {% endif %}
                </form>
                </div>
            </td>
            <td height="400px">
                <div class="comments_win">
                    {% for comment in hospital.comment_set.all %}
                        <div class="comment">
                            <i>
                                {{ comment.created }}
                                <br>
                                {{ comment.client_hospital.username }} {{ comment.client_hospital.status }}
                            </i>
                            <br>
                            {{ comment.description }}
                        </div>
                    {% endfor %}
                </div>
                {% if is_admin in 'false' %}
                    <form method="post" id="comment-form">
                        <input class="form__group" id="comment" type="text" placeholder="Введите сообщение">
                        <button class="btn" type="submit" id="btn-comment">Отправить</button>
                    </form>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

{% endblock content %}
