
.user {
    margin-top: 100px;
    position: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: white;
    border: 8px solid black;
    border-radius: 15px;
    height: 535px;
    width: 480px;
}


.form {
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    opacity: 0.8;
}

.form__group {
    border-radius: 10px;
    background: white;
    padding: 6px;
}

.form__input {
    display: block;
    width: 90%;
    padding: 20px;
    border: 2px solid orange;
    border-radius: 6px;

}

.form__input:focus {
    background: grey;
}


.btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 25px;
    border-radius: 8px;
    outline: 0;
    border: 0;
    color: white;
    background: orange;

}

.btn:hover {
    background: grey;
}

.btn:active {
    color: orange;
}

.checkbox-row {
    color: grey;
    margin-left: 12px;
    margin-top: 8px;

}

.error {
    font-style: normal;
    color: grey;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.add_button {
    display: inline;
    margin-top: 12px;
    margin-bottom: 40px;
    margin-left: 70%;
    width: 20%;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    color: white;
    background: orange;

}

.add_button:hover {
    background: grey;
}

.add_button:active {
    color: orange;
}

